<app-navbar></app-navbar>

<div class="container row align-items-center justify-content-between">
  <div class="contact-container">
    <h1 style="color: #00246b; text-decoration: underline;">Get in Touch</h1>
    <div class="mt-8">
      <form class="flex flex-col gap-3" #contactForm="ngForm" (ngSubmit)="submitEmail(contactForm)">

        <div>
          <input name="name" [(ngModel)]="contactFormValues.name" #name="ngModel" type="text" placeholder="Full Name"
            class="w-full p-2 border border-gray-200 rounded-md" required minlength="2" pattern="[a-zA-Z ]*" />

          <p class="ml-1 text-red-400 text-sm" *ngIf="name.errors && name.touched && name.dirty">
            name is required and should be letters only
          </p>
        </div>

        <div>
          <input name="email" [(ngModel)]="contactFormValues.email" #email="ngModel" type="email" placeholder="Email"
            class="w-full p-2 border border-gray-200 rounded-md" required
            pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?" />

          <p class="ml-1 text-red-400 text-sm" *ngIf="email.errors && email.touched && email.dirty">
            invalid email
          </p>
        </div>

        <div>
          <input name="phone" [(ngModel)]="contactFormValues.phone" #phone="ngModel" type="tel"
            placeholder="Phone Number" class="w-full p-2 border border-gray-200 rounded-md" required
            pattern="[0-9]{10}" />

          <p class="ml-1 text-red-400 text-sm" *ngIf="phone.errors && phone.touched && phone.dirty">
            Phone number is required and should be exactly 10 digits
          </p>
        </div>


        <div>
          <textarea name="body" [(ngModel)]="contactFormValues.body" #body="ngModel" cols="30" rows="10"
            class="w-full p-2 border border-gray-200 rounded-md" placeholder="Message" required
            minlength="20"></textarea>

          <p class="ml-1 text-red-400 text-sm" *ngIf="body.errors && body.touched && body.dirty">
            at least write some words (20 characters length)
          </p>
        </div>

        <div [ngClass]="{
          hidden: !showAlert
        }">
          <p [ngClass]="alertColor" class="font-semibold">
            {{ alertMessage }}
          </p>
        </div>
        <button [disabled]="contactForm.invalid || onSubmit"
          class="p-2 rounded-md font-bold uppercase text-white bg-light-color hover:bg-primary-color transition disabled:opacity-50 disabled:bg-light-color">
          <ng-container *ngIf="onSubmit === false; else submittingEmail">
            send
          </ng-container>
          <ng-template #submittingEmail>
            <div class="animate-spin">
              <!-- <fa-icon [icon]="iconLoad"></fa-icon> -->
            </div>
          </ng-template>
        </button>
      </form>
    </div>
  </div>

  <div class="contact-image">
    <img src="../../../assets/5124556-removebg-preview.png" alt="image">

    <ul class="t-social">
      <li>
        <a href="https://wa.me/+919620208254" target="_blank">
          <i class="fab fa-whatsapp"></i>
        </a>
      </li>
      <li>
        <a href="https://github.com/varun0015" target="_blank">
          <i class="fab fa-github"></i>
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/varun-kumar-350854172?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3B0PxwspR3ST2rLkg84U3uSA%3D%3D" target="_blank">
          <i class="fab fa-linkedin"></i>
        </a>
      </li>
      <li>
        <a href="mailto:varun816@outlook.com">
          <i class="fas fa-envelope"></i>
        </a>
      </li>
      <!-- <li>
        <a href="http://m.me/facebook" target="_blank">
          <i class="fab fa-facebook-messenger"></i>
        </a>
      </li> -->
      <li>
        <a href="https://instagram.com" target="_blank">
          <i class="fab fa-instagram"></i>
        </a>
      </li>
    </ul>

  
  </div>
</div>


<app-footer></app-footer>