<app-navbar></app-navbar>

<div class="main-home">
    <div class="main-content animate__animated animate__fadeInUp">


        <!-- <div class="main-content animate__animated animate__flip">
            <div class="thumb-container">
                <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" alt="Profile image" class="thumb-image">
            </div>
        </div> -->

        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front ">
                    <img src="https://media.licdn.com/dms/image/D4D03AQF_pKnKfoxnwQ/profile-displayphoto-shrink_200_200/0/1708628448561?e=1719446400&v=beta&t=qiS8h0fR81jn5E5am_HwmSbo_QmDD95ukf-CAXwGcpE" alt="Avatar"
                        style="width:300px;height:300px;object-fit: cover;">
                </div>
                <div class="flip-card-back">
                    <!-- <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" alt="Avatar"
                        style="width:300px;height:300px;object-fit: cover;"> -->

                    <h1>I'm Varun</h1>
                    <p>Front-end Web and Mobile Application Developer | Avid Traveller</p>
                    <!-- <p>We love that guy</p> -->
                </div>
            </div>
        </div>

        <div class="text-container">
            <p>I'm a Frontend Web Developer building the Front-end of Websites and Web Applications that leads to the success of the overall product.</p>
            <p>I am experienced in developing web and desktop applications including full front end design. I’ve also
                worked on hybrid applications of some of the most trending mutual funds in India. I'm open to Job
                opportunities where I can contribute, learn and grow. If you have a good opportunity that matches my
                skills and experience then please contact me.</p>
        </div>
    </div>


    <div class="skills-section animate__animated animate__fadeInUp" id="skills-section">
            <h1 class="my-skills">My Skills</h1>


        <div class="skills-container">
            <div class="skill-card">
                <div class="skill-details">
                    <h3>Angular</h3>
                    <div class="skill-slider">
                        <div class="skill-bar" style="width: 75%;"></div>
                    </div>
                    <!-- <p>HTML, CSS, JavaScript, React</p> -->
                </div>
            </div>
            <div class="skill-card">
                <div class="skill-details">
                    <h3>HTML</h3>
                    <div class="skill-slider">
                        <div class="skill-bar" style="width: 85%;"></div>
                    </div>
                    <!-- <p>HTML, CSS, JavaScript, React</p> -->
                </div>
            </div>
            <div class="skill-card">
                <div class="skill-details">
                    <h3>CSS/SCSS</h3>
                    <div class="skill-slider">
                        <div class="skill-bar" style="width: 85%;"></div>
                    </div>
                    <!-- <p>Android, iOS, Flutter</p> -->
                </div>
            </div>
            <div class="skill-card">
                <div class="skill-details">
                    <h3>TypeScript</h3>
                    <div class="skill-slider">
                        <div class="skill-bar" style="width: 75%;"></div>
                    </div>
                    <!-- <p>Android, iOS, Flutter</p> -->
                </div>
            </div>
            <div class="skill-card">
                <div class="skill-details">
                    <h3>Node JS</h3>
                    <div class="skill-slider">
                        <div class="skill-bar" style="width: 45%;"></div>
                    </div>
                    <!-- <p>Android, iOS, Flutter</p> -->
                </div>
            </div>
            <div class="skill-card">
                <div class="skill-details">
                    <h3>Flutter</h3>
                    <div class="skill-slider">
                        <div class="skill-bar" style="width: 70%;"></div>
                    </div>
                    <!-- <p>Android, iOS, Flutter</p> -->
                </div>
            </div>
            <div class="skill-card">
                <div class="skill-details">
                    <h3>Android</h3>
                    <div class="skill-slider">
                        <div class="skill-bar" style="width: 50%;"></div>
                    </div>
                    <!-- <p>Android, iOS, Flutter</p> -->
                </div>
            </div>
            <div class="skill-card">
                <div class="skill-details">
                    <h3>IOS</h3>
                    <div class="skill-slider">
                        <div class="skill-bar" style="width: 65%;"></div>
                    </div>
                    <!-- <p>Android, iOS, Flutter</p> -->
                </div>
            </div>
            <div class="skill-card">
                <div class="skill-details">
                    <h3>Git</h3>
                    <div class="skill-slider">
                        <div class="skill-bar" style="width: 70%;"></div>
                    </div>
                    <!-- <p>Android, iOS, Flutter</p> -->
                </div>
            </div>
        </div>


        <!-- <div class="card-container">
            <mat-card class="example-card ">
                <mat-card-header class="row align-items-center justify-content-center ">
                    <p style="color: blueviolet;">Angular</p>

                </mat-card-header>
                <img mat-card-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR-kv8K4ybHt-YtY0h7kH3n0danXcKCyFncxEyGRDk2zQ&s" alt="Image">
                <mat-card-content class="" style="margin-bottom: 40px;">
                    <p>Deliver web apps
                        with confidence.</p>
                </mat-card-content>
                <button (click)="knowMore(0)">Know more...</button>

            </mat-card>

            <mat-card class="example-card ">
                <mat-card-header class="row align-items-center justify-content-center">
                    <p style="color: blueviolet;">Flutter</p>

                </mat-card-header>
                <img mat-card-image src="https://cdn.iconscout.com/icon/free/png-512/free-flutter-2038877-1720090.png?f=webp&w=512" alt="Image">
                <mat-card-content class="" style="margin-bottom: 40px;">
                    <p>
                        Flutter transforms the development process. Build, test, and deploy beautiful mobile, web, desktop, and embedded experiences from a single codebase.</p>
                </mat-card-content>
                <button (click)="knowMore(1)">Know more...</button>

            </mat-card>

            <mat-card class="example-card ">
                <mat-card-header class="row align-items-center justify-content-center">
                    <p style="color: blueviolet;">Node JS</p>

                </mat-card-header>
                <img mat-card-image src="https://img.icons8.com/?size=96&id=54087&format=png" alt="Image">
                <mat-card-content class="" style="margin-bottom: 40px;">
                    <p>Node.js® is a free, open-source, cross-platform JavaScript runtime environment that lets developers create servers, web apps, command line tools and scripts.</p>
                </mat-card-content>
                <button (click)="knowMore(2)">Know more...</button>

            </mat-card>
        </div> -->
    </div>
</div>
<app-cookies-bar></app-cookies-bar>


<app-footer></app-footer>